
/*Universal*/
html {
    background-color: #070228;
    background: linear-gradient(#0d023a, #070228, #070228,#0d023a,purple);
}

body {
    color: white;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
}

h1 {
    text-shadow: 0 0 30px #8a70ba;
    font-family: 'Dosis', sans-serif;
    font-size: 40px;
}

h2 {
    text-shadow: 0 0 30px #8a70ba;
    font-family: 'Dosis';
}

h3 {
    font-family: 'Exo', sans-serif;
}

/*Navigation*/
.navigation {
    width: 100%;
}

.navigation ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.navigation li {
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    padding: 20px;
    transition: 0.3s;
}

.navigation  li.current{
    color: white;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 4px;
}

.navigation li.otherlink:hover {
    color: white;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 4px;
    cursor: pointer;
}

/*Banner*/
#content {
    height: 1300px;
    width: 100%;
    text-align: center;
}

#content #pfp img {
    position: relative;
    top: 30px;
    width: 300px;
}

#content #name {
    position: relative;
    top: 30px;
    padding-bottom: 20px;
    text-transform: uppercase;
}

#content #school\&year {
    padding: 10px 0;
}

#content #school\&year h3 {
    margin: 5px;
}

#content #school\&year h3 a {
    color: #fffd5f;
    transition: 0.3s;
}

#content #school\&year h3 a:hover {
    color: #ffd602;
}

#content #location {
    padding: 10px 0;
}

#content #location h3 {
    margin: 5px 0;
}

.split {
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
    /*overflow-x: hidden;*/
}

/* Control the left side */
.left {
    margin-left: 15%;
    width: 35%;
    float: left;
    left: 0;
}

.icon {
    padding: 10px 5px;
    color: #007acc;
    transition: 0.3s;
}

.icon:hover {
    color: #ffd602;
}

/* Control the right side */
.right {
    width: 35%;
    margin-right: 15%;
    float: right;
    right: 0;
}

.list {
    text-align: left;
    font-family: 'Lato';
}

.list li {
    padding: 0 0 20px 0;
}

.bolder {
    font-weight: 900;
}